.snow-far {background:  #C9E7F2;}


.snowdrift {position: absolute; border-top-left-radius: 50%; border-top-right-radius: 50%; }


.snowdrift1 {height: 170px; left: -73px;width: 253px;}
.snowdrift2 {height: 170px; left: 121px;width: 199px;}
.snowdrift3 {height: 170px; left: 297px;width: 174px;}
.snowdrift4 {height: 170px; left: 445px;width: 204px;}
.snowdrift5 {height: 161px; left: 630px;width: 163px;}

.snowdrift6 {height: 170px; left: 52px;width: 311px;}
.snowdrift7 {height: 170px; left: -45px;width: 202px;}
.snowdrift8 {height: 170px; left: 307px;width: 264px;}
.snowdrift9 {height: 170px; width: 299px;right: -20px;}
.snowdrift10 {height: 170px;width: 390px;left: 400px;}


.snowdrift11 {height: 170px; width: 290px;left: 650px;}
.snowdrift12 {height: 170px; width: 360px;left: 800px;}
.snowdrift13 {height: 170px; width: 250px;right: 550px;}
.snowdrift14 {height: 170px; width: 390px;right: 200px;}
.snowdrift15 {height: 170px; width: 390px;right: -300px;}


.snowdrift16 {height: 170px; left: 630px;width: 150px;}
.snowdrift17 {height: 170px; left: 720px;width: 200px;}
.snowdrift18 {height: 170px; left: 1000px;width: 204px;}
.snowdrift19 {height: 170px; left: 1120px;width: 204px;}
.snowdrift20 {height: 170px; left: 1300px;width: 250px;}










